# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# I really don't know what these are for
*.pdb
*.ilk

# Microsoft Office temporary files
*~$*


.vscode/
solutions/gknb_intm021-2019_20_1-01-HFM-1220/main
solutions/gknb_intm021-2019_20_1-02-HFM - 0110/main
solutions/gknb3/main
